/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* Don't use the main frame div when the error is in a subframe. */
/* Background color */
* {
  font-family: "JetBrains Mono", "Lucida Console", "Courier New", monospace;
}

:root {
  --black: #0B0D0F;
  --foreground: #F8F8F2;
  --selection: #414D58;
  --selection-secondary: #8f9ba8;
  --comment: #708CA9;
  --comment-secondary: #454158;
  --cyan: #80FFEA;
  --green: #8AFF80;
  --orange: #FFCA80;
  --yellow: #FFFF80;
  --red: #FF9580;
  --pink: #FF80BF;
  --purple: #9580FF;
}

/* Estilizando barras de rolagem no Chrome, Edge e Safari */
body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--black);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--comment-secondary);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid var(--comment-secondary);
  /* creates padding around scroll thumb */
}


::selection {
  background: var(--green) !important;
  color: var(--black) !important;
  text-shadow: 0 0 0 var(--black);
}

.fa-brands,
.fa-solid {
  margin-right: 5px;
}

h1 {
  background-image: linear-gradient(135deg, var(--purple) 20%, var(--green) 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
  background-size: 100%;
  font-size: 48px;
  font-family: JetBrains mono, sans-serif, monospace;
  line-height: 50px;
  font-weight: bold;
  max-width: 100%;
  padding: 10px;
  margin-block-start: 100px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: var(--black);
  text-align: center;
}

/* Day & Night */
.offline {
  transition: -webkit-filter 1.5s cubic-bezier(0.65, 0.05, 0.36, 1),
    background-color 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  will-change: -webkit-filter, background-color;
}

/* Color Invert */
.offline.inverted {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: var(--green);
}

.offline #main-message>p {
  display: none;
}

.interstitial-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Container do game */
.runner-container {
  display: flex;
  border-radius: 1em;
  background-color: var(--purple);
  border-color: var(--comment-secondary);
  border-width: 2px;
  border-style: solid;
  padding: 0.5em;
  max-width: 93%;
}

/* Largura */
.offline .interstitial-wrapper {
  color: var(--foreground);
  font-size: 1em;
  line-height: 1.55;
  margin: Auto;
  max-width: 600px;
  padding-top: 100px;
  width: 100%;
}

/* Layout de altura */
.offline .runner-container {
  direction: ltr;
  height: 150px;
  max-width: 600px;
  overflow: hidden;
  position: absolute;
  top: 220px;
  /* Top */
  width: 44px;
}

/* Campos de jogos */
#main-content {
  display: none;
}

h2 {
  color: var(--foreground);
  font-family: JetBrains mono, sans-serif, monospace;
  font-size: 14px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 10px;
}

/* Estilo dos botões de toda página */

button {
  background-color: var(--black);
  color: var(--selection-secondary);
  font-weight: bold;
  border: none;
  justify-content: center;
  padding: 6px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 12px;
}

button:hover {
  color: var(--foreground);
  background-color: var(--comment-secondary);
}

nav {
  display: flex;
  flex-direction: row;
}

nav button {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  background-color: var(--black);
  border-radius: 0.5em;
  text-transform: uppercase;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  nav button {
    font-size: 15px;
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background-color: var(--black);
  margin-bottom: 1em;
  margin-top: 14rem;
  font-size: 10px;
}

details {
  display: block;
  width: auto;
  text-transform: uppercase;
  font-family: sans-serif, monospace;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 10px;
  position: absolute;
}

details p {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

summary {
  display: flex;
  background: var(--comment-secondary);
  color: var(--foreground);
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  font-weight: 600;
  justify-content: flex-start;
  align-items: center;
}

summary::-webkit-details-marker {
  display: none;
}

summary:before {
  content: "FL";
  font-size: 16px;
  font-weight: bold;
  margin: 0 5px;
  padding: 0;
  width: 20px;
  text-align: center;
}

details[open] summary:before {
  content: "===";
}