<link href="css/footer.css" rel="stylesheet" type="text/css">
<footer>
  <!-- Botões de links do fundo da página -->
  <button><a href="https://instagram.com/nagref.jpeg" target="_blank"><i
        class="fa-brands fa-instagram"></i>Instagram</a></button>
  <button><a href="https://twitter.com/fagnerrlima" target="_blank"><i
        class="fa-brands fa-twitter"></i>Twitter</a></button>
  <button><a href="https://www.linkedin.com/in/fagnerrlima" target="_blank"><i
        class="fa-brands fa-linkedin"></i>LinkedIn</a></button>
  <button><a href="https://github.com/Nagref" target="_blank"><i class="fa-brands fa-github"></i>Github</a></button>
</footer>