<link rel="stylesheet" href="css/nav.css">
<nav><!-- Botões de navegação no topo da página -->
  <details>
    <summary></summary>
    <p>
      <button><a href="/">Home</a></button>
      <button><a href="/about">About</a></button>
      <button><a href="/uses">Uses</a></button>
      <button><a href="/game">Game</a></button>
      <button><a href="/contact">Contact</a></button>
    </p>
  </details>
</nav>