a {
  color: inherit;
  text-decoration: inherit;
  display: inline-block;
  width: 60px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}

h1 {
  color: #FFF;
  font-size: 2em;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}

section {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}

::section {
  background-color: #9580FF;
  color: #08070B;
}

button {
  background-color: #0000;
  color: #FFF;
  border: none;
  padding: 10px;
  font-size: 1em;
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
  cursor: pointer;
  border-radius: 30px;
}


nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 50px;
  overflow: hidden;
  display: flex
}

nav ul {
  position: fixed;
  top: 0;
  left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav button {
  border-right: #9580FF;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
  margin-top: 10px;
  line-height: 50px;
  width: 100px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  transform: translateY(100%);
  list-style: none;
}

nav button.active {
  background-color: #151515;
  color: #151515;
  float: left;
  border-right: none;
}

nav button.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #9580FF;
}

nav button:nth-child(1) {
  animation: pop 0.5s 0.15s 1 forwards;
}

nav button:nth-child(2) {
  animation: pop 0.5s 0.3s 1 forwards;
}

nav button:nth-child(3) {
  animation: pop 0.5s 0.45s 1 forwards;
}

nav button:nth-child(4) {
  animation: pop 0.5s 0.6s 1 forwards;
}

nav button:nth-child(5) {
  animation: pop 0.5s 0.75s 1 forwards;
}

nav button:nth-child(6) {
  animation: pop 0.5s 0.9s 1 forwards;
}

nav button:nth-child(7) {
  animation: pop 0.5s 1.05s 1 forwards;
}

/* buttoon */
nav button:hover {
  color: #9580FF;
  background-color: #08070B;
  transform: scale(1.5);
}

nav button:active {
  background-color: #151515;
}

nav button:nth-child(1):hover~.slide {
  left: 0;
}

nav button:nth-child(2):hover~.slide {
  left: 20vw;
}

nav button:nth-child(3):hover~.slide {
  left: 40vw;
}

nav button:nth-child(4):hover~.slide {
  left: 60vw;
}

nav button:nth-child(5):hover~.slide {
  left: 80vw;
}

nav button:nth-child(6):hover~.slide {
  left: 100vw;
}

nav button:nth-child(7):hover~.slide {
  left: 120vw;
}



section {
  background-color: #000000;
  height: 110vh;
  display: flex;
}

section .flex-container {
  max-width: 50%;
  width: 100%;
  align-self: center;
  transform: translateY(-50px);
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 50px;
}

section .flex-container h3 {
  display: inline-block;
  font-size: 1rem;
  color: #FFF;
  width: 100%;
  text-transform: uppercase;
  transform: translateX(-100%);
  animation: byBottom 1s ease both;
  font-weight: 800;
  letter-spacing: 1px;
}

section .flex-container h3:last-child {
  font-size: 1rem;
  animation: byBottom 1s 0.25s ease both;
}

section .flex-container h3 a {
  position: relative;
  display: inline-block;
  margin-left: 0.5rem;
  text-decoration: none;
  color: #9580FF;
}

section .flex-container h3 a::after {
  content: "";
  height: 2px;
  background-color: #80FFEA;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  animation: linkAfter 0.5s 1s ease both;
}

@-moz-keyframes pop {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes pop {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@-o-keyframes pop {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pop {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@-o-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@-o-keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}