* {
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}

:root {
  --black: #0B0D0F;
  --foreground: #F8F8F2;
  --selection: #414D58;
  --selection-secondary: #8f9ba8;
  --comment: #708CA9;
  --comment-secondary: #22212C;
  --cyan: #80FFEA;
  --green: #8AFF80;
  --orange: #FFCA80;
  --yellow: #FFFF80;
  --red: #FF9580;
  --pink: #FF80BF;
  --purple: #9580FF;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: var(--black);
}

::selection {
  background: var(--pink);
  color: var(--selection);
}

.title {
  font-weight: bolder;
  padding-left: 10px;
  margin-left: 10px;
}

section {
  background-color: var(--black);
  height: 90vh;
  display: flex;
}

section .title {
  max-width: 60%;
  width: 100%;
  align-self: center;
  transform: translateY(-50px);
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 10px;
}

section .title span {
  display: inline-block;
  font-size: 2.5em;
  color: var(--foreground);
  width: 100%;
  transform: translateX(-100%);
  animation: byBottom 1s ease both;
}

section .title span:last-child {
  animation: byBottom 1s 0.25s ease both;
}

section .title span a {
  position: relative;
  display: inline-block;
  color: var(--purple);
}

section .title span a::after {
  content: "";
  height: 2px;
  background-color: var(--cyan);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  animation: linkAfter 0.5s 1s ease both;
}

/* Animação da abertura da página */

@-moz-keyframes pop {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes pop {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@-o-keyframes pop {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pop {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@-o-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@-o-keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

/* Estilo dos botões de toda página */

button {
  background-color: var(--black);
  color: var(--selection-secondary);
  font-weight: bold;
  border: none;
  margin-right: 0.5em;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  color: var(--foreground);
  background-color: var(--comment-secondary);
}

.button-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  border: none;
  margin: 0 auto;
  margin-right: 0.5em;
}