* {
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}

:root {
  --black: #22212C;
  --foreground: #F8F8F2;
  --selection: #414D58;
  --selection-secondary: #8f9ba8;
  --comment: #708CA9;
  --comment-secondary: #454158;
  --cyan: #80FFEA;
  --green: #8AFF80;
  --orange: #FFCA80;
  --yellow: #FFFF80;
  --red: #FF9580;
  --pink: #FF80BF;
  --purple: #9580FF;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: #22212C;
  color: #F8F8F2;
  text-align:center;
}
p{
  font-size:16px;
}

::selection {
  background: var(--cyan)!important;
  color: var(--black)!important;
  text-shadow: 0 0 0 var(--black);
} 

strong {
  background-image: linear-gradient( 135deg, var(--purple) 5%, var(--cyan) 10% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
  background-size: 100%;
  font-size: 2.5em;
  line-height: 50px;
  font-weight: bold;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  max-width: 100%;
  padding: 0;
  width: 1000px; 
  margin-left: auto;
  margin-right: auto; 
  margin-block-start: 100px;
  text-transform: uppercase;
}

::-moz-selection {
  background: #505050;
}


.container {
  overflow: hidden;
  background-color:var(--black);
  height: 100%;
}

.container {
  color:var(--purple);
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}
/* Estilo dos botões de toda página */

button {
  background-color: var(--black);
  color: var(--selection-secondary);
  font-weight: bold;
  border: none;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  color: var(--foreground);
  background-color: var(--comment-secondary);
}

.button-up {
  display: flex;
}

.button-up button {
  text-transform: uppercase;
}

.button-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20em;
  margin-right: 0.5em;
}