body {
  text-align: center;
}

::selection {
  background: var(--pink) !important;
  color: var(--black) !important;
  text-shadow: 0 0 0 var(--black);
}

.nv #about,
#uses,
#contact {
  color: var(--foreground);
}

section {
  margin: auto;
  display: flex;
  flex-direction: column;
  line-height: 32px;
  padding: 10px;
  width: 250px;
  height: 100vh;
}

.body {
  margin: 0 auto;
  text-align: initial;
  line-height: 1.5em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.body img {
  border-radius: 50%;
  padding: 10px;
  margin: auto;
}

h1 {
  background-image: linear-gradient(135deg, var(--pink) 0%, var(--purple) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
  background-size: 100%;
  font-size: 72px;
  line-height: 100%;
  font-weight: bold;
  max-width: 100%;
  letter-spacing: -2px;
}

h2 {
  font-weight: normal;
  color: var(--selection-secondary);
  font-size: 16px;
}

h2 strong {
  color: var(--foreground);
  font-size: 16px;
  font-family: JetBrains mono, sans-serif, monospace;
}

p {
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  h1 {
    align-items: center;
    display: inline-block;
  }

  h2 {
    letter-spacing: normal;
  }
}