body {
  text-align: center;
}

::selection {
  background: var(--pink) !important;
  color: var(--black) !important;
  text-shadow: 0 0 0 var(--black);
}

.nv #about {
  color: var(--foreground);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 32px;
}

.avt img {
  width: 80px;
  border-radius: 50%;
  padding: 20px;
}

.avt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

section {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 32px;
  padding: 20px;
}

.bottom-right p {
  margin-right: 2em;
}

.bottom-right {
  margin: 0 auto;
  display: flex;
}

.bottom-left p {
  margin-right: 2em;
}

.bottom-left {
  margin: 0 auto;
  display: flex;
  padding-right: 9.7em;
}

.body {
  margin: 0 auto;
  text-align: initial;
  line-height: 1.5em;
  max-width: 760px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 970px) {
  .body {
    flex-direction: column;
    width: 100%;
  }

  .bottom-left {
    flex-direction: column;
    padding-right: 0;
  }

  .bottom-right {
    flex-direction: column;
    padding-right: 0;
  }

  section {
    flex-direction: column;
    display: block;
  }

  .bottom-right p {
    margin-right: 0;
    margin-left: 0.5em;
  }

  .bottom-left p {
    margin-right: 0;
    margin-left: 0.5em;
  }

  .stack img {
    margin: 0 auto;
    margin-left: 0.5em;
    display: flex;
    /* padding-bottom: 10px; */
    justify-content: center;
  }

  .stack h3 {
    display: flex;
    padding: 0;
    margin-left: 0.5em;
    align-items: center;
  }

  .stack {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .about {
    max-width: 100%;
  }
}

@media (max-height: 600px) and (orientation:landscape) {
  .body {
    flex-direction: column;
  }

  .stack img {
    margin-left: 0.5em;
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
  }

  .about h3 {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 0.5em;
    align-items: center;
  }

  .stack {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: flex-start;
  }
}

.stack h3 {
  margin-top: 5px;
  height: 30px;
}

.stack img {
  border-radius: 0;
  width: 6%;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .stack h3 {
    display: flex;
    padding: 0;
    margin-left: 0.5em;
    align-items: center;
  }

}

h1 {
  background-image: linear-gradient(135deg, var(--pink) 0%, var(--orange) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
  background-size: 100%;
  font-size: 48px;
  font-family: JetBrains mono, sans-serif, monospace;
  line-height: 50px;
  font-weight: bold;
  max-width: 100%;
  padding: 10px;
  letter-spacing: -4px;
  word-spacing: -16px;
}

@media screen and (max-width: 600px) {
  .about {
    max-width: 90%;
  }

  h1 {
    align-items: center;
    display: inline-block;
  }

  h3 {
    letter-spacing: normal;
  }

  h4 {
    flex-direction: column;
  }
}

h3 {
  font-weight: normal;
  color: var(--selection-secondary);
  font-size: 16px;
}

h3 strong {
  color: var(--foreground);
  font-size: 16px;
  font-family: JetBrains mono, sans-serif, monospace;
}

h4 {
  display: flex;
  padding-bottom: 100px;
  margin: 10px;
  justify-content: space-around;
  height: 120px;
}

p {
  margin: auto;
  padding-bottom: 10px;
}