body {
  background-color: var(--black);
  text-align: center;
}

::selection {
  background: var(--purple) !important;
  color: var(--black) !important;
  text-shadow: 0 0 0 var(--black);
}

.expression {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 5px;
}

img {
  max-width: 20%;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 10em;
  border: 4px solid var(--pink);
}

@media screen and (max-width: 600px) {
  img {
    max-width: 55%;
  }
}

h1 {
  background-image: linear-gradient(135deg, var(--purple) 5%, var(--pink) 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
  background-size: 100%;
  font-size: 48px;
  font-family: JetBrains mono, sans-serif, monospace;
  line-height: 50px;
  font-weight: bold;
  max-width: 100%;
  padding: 10px;
  margin-block-start: 100px;
}

h2 {
  color: var(--foreground);
  font-family: JetBrains mono, sans-serif, monospace;
  font-size: 14px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 10px;
}

span .label {
  margin: 0;
  background: var(--black);
  color: var(--foreground);
  display: flex;
  align-items: center;
  place-items: center;
  line-height: 0;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.dropdown {
  position: relative;
  font-size: 12px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40%;
  margin-right: 40%;
}

@media screen and (max-width: 600px) {
  .dropdown {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.label {
  cursor: pointer;
  background: var(--black);
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 10px;
  transition: all 0.3s;
  border-radius: 1em;
  color: var(--foreground);
  border: 2px solid var(--foreground);
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .label {
    padding: 1rem;
    justify-content: space-evenly;
  }
}

.items a {
  color: var(--foreground);
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-top: 10px;
  text-decoration: none;
  transition: all 0.2s;
  border-radius: 1em;
  border: 2px solid var(--foreground);
  font-weight: bold;
}

.items a:hover {
  border-left: 5px solid;
  background: var(--comment-secondary);
}

.fa-brands,
.fa-solid {
  margin-right: 5px;
}

.items {
  background: var(--black);
  opacity: 0;
  visibility: hidden;
  min-width: 100%;
  height: 0;
  position: absolute;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.3s;
  border-radius: 30px;
}

.items::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--selection);
  transform: rotate(45deg);
  top: -7px;
  left: 20px;
  z-index: -1;
}

.dropdown {
  position: relative;
  font-size: 12px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40%;
  margin-right: 40%;
  padding-bottom: 30em;
}


.dropdown:hover>.items {
  opacity: 1;
  visibility: visible;
  height: unset;
  transform: scaleY(1);
}

.dropdown:hover>.label {
  background: var(--purple);
  color: var(--selection);
}

/* Efeito de Glitch do avatar da página */

@keyframes glitch {

  0%,
  55.1%,
  100% {
    background: url("/img/nagref.png");
    background-size: cover;
  }

  50% {
    background: url("/img/nagref-glich-1.png");
    background-size: cover;
  }

  52.5% {
    background: url("/img/nagref-glich-2.png");
    background-size: cover;
  }

  55% {
    background: url("/img/nagref-glich-3.png");
    background-size: cover;
  }
}

.avatar {
  width: 14rem;
  height: 14rem;

  border-radius:
    50% 50% 46% 54% / 51% 47% 53% 49%;

  background-image: url("/img/nagref.png");
  background-size: cover;

  animation:
    glitch 3.75s infinite steps(1);

  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}