footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background-color: var(--black);
  font-size: 10px;
  height: 80px;
}

footer button {
  width: 120px;
}

@media screen and (max-width: 600px) {
  footer button {
    width: auto;
  }
}
