body {
  border: 4px solid var(--comment-secondary);
  border-radius: 10px;
  text-align: center;
  background-color: var(--black);
}

::selection {
  background: var(--purple) !important;
  color: var(--black) !important;
  text-shadow: 0 0 0 var(--black);
}


.title {
  font-family: JetBrains mono, sans-serif, monospace;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  font-size: larger;
}

.title a {
  font-size: 3em;
  line-height: 1em;
}

section {
  height: 80vh;
  display: flex;
}

section .title {
  align-self: center;
  transform: translateY(-50px);
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  section .title {
    max-width: 100%;
    width: 100%;
  }
}



p {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(135deg, var(--foreground) 0%, var(--comment-secondary) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
}

strong {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(135deg, var(--foreground) 0%, var(--selection-secondary) 100%);
  background-clip: text;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
}

footer {
  padding-top: 100px;
}
