/* Estilo dos botões de toda página */

button {
  background-color: var(--black);
  color: var(--selection-secondary);
  font-weight: bold;
  font-family: sans-serif, monospace;
  border: none;
  justify-content: center;
  padding: 6px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 12px;
}

button:hover {
  color: var(--foreground);
  background-color: var(--comment-secondary);
}

nav {
  display: flex;
  flex-direction: column;
  font-family: sans-serif, monospace;
  padding: 5px;
  margin: auto;
  height: 120px;
  opacity: 0.9;
  position: sticky;
  top: 0;
  background-color: var(--black);
}

nav button {
  display: flex;
  flex-direction: row;
  background-color: var(--black);
  border-radius: 0.5em;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  nav button {
    font-size: 15px;
  }
}

.home {
  display: flex;
  justify-content: center;
  margin-right: auto;
}

.home button {
  padding: 10px;
}

.nv {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: -10px 50px 20px;
}

.nv button {
  width: 80px;
}
