/* All page buttons style */
button {
  background-color: transparent;
  color: var(--selection-secondary);
  font-family: sans-serif, monospace;
  border: none;
  justify-content: center;
  padding: 6px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

button:hover {
  color: var(--foreground);
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: auto;
  height: 90px;
  position: sticky;
  top: 0;
  background-color: transparent;
  backdrop-filter: blur(6px);
  border-bottom: solid 1px var(--black);
  margin: auto;
}

nav button {
  display: flex;
  flex-direction: row;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
}

nav .active {
  color: var(--foreground);
}

@media screen and (max-width: 600px) {
  nav button {
    font-size: 16px;
  }
}

@media (max-height: 600px) and (orientation:landscape) {
  nav {
    height: 75px;
  }
}

.nv {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.nv button {
  width: 80px;
}