/* All page buttons style */
button {
  background-color: transparent;
  color: var(--selection-secondary);
  font-family: sans-serif, monospace;
  border: none;
  justify-content: center;
  padding: 6px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 12px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

button:hover {
  color: var(--foreground);
  /* background-color: var(--comment-secondary); */
  opacity: 0.9;
  transition: opacity 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

nav {
  padding: 5px;
  margin: auto;
  height: 100px;
  /* opacity: 0.9; */
  position: sticky;
  top: 0;
  background-color: transparent;
  backdrop-filter: blur(6px);
}

nav button {
  display: flex;
  flex-direction: row;
  /* background-color: var(--black); */
  border-radius: 0.5em;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
}
nav .active {
  color: var(--foreground);
}

@media screen and (max-width: 600px) {
  nav button {
    font-size: 15px;
  }
}

.home {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  padding: 10px;
}

.home button {
  padding: 1px;
  width: 30px;
  font-size: 18px;
}

.nv {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: -10px 50px 20px;
}

.nv button {
  width: 80px;
}