section {
  padding: 50px;
}

.int {
  display: flex;
  flex-direction: column;
}

.avt img {
  width: 80px;
  border-radius: 50%;
  padding: 20px;
}

.avt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  font-size: 24px;
  font-weight: 900;
  color: var(--foreground);
  padding: 20px;
}

.title strong {
  background-image: linear-gradient(135deg, var(--purple) 0%, var(--cyan) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Donut javascript configurations */

.container {
  background-image: linear-gradient(135deg, var(--purple) 15%, var(--cyan) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  overflow: hidden;
  height: auto;
}

.center {
  background-image: linear-gradient(135deg, var(--purple) 15%, var(--cyan) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}