body {
  /* border: 4px solid var(--cyan);
  border-radius: 10px; */
  text-align: center;
}

::selection {
  background: var(--cyan) !important;
  color: var(--black) !important;
  text-shadow: 0 0 0 var(--black);
}

.nv #uses {
  color: var(--foreground);
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.avt img {
  width: 80px;
  border-radius: 50%;
  padding: 20px;
}

.avt {
  display: flex;
  justify-content: center;
  align-items: center;
}

img#setupimg {
  max-width: 30%;
  border: solid 2px var(--purple);
  border-radius: 20px;
  margin-bottom: 2em;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
}

h1 {
  background-image: linear-gradient(135deg, var(--purple) 0%, var(--cyan) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
  background-size: 100%;
  font-size: 48px;
  font-family: JetBrains mono, sans-serif, monospace;
  line-height: 50px;
  font-weight: bold;
  max-width: 100%;
  letter-spacing: -2px;
}

@media screen and (max-width: 600px) {
  h1 {
    align-items: center;
    display: inline-block;
  }

  img#setupimg {
    max-width: 90%;
  }
}

h2 p {
  color: var(--foreground);
  font-family: JetBrains mono, sans-serif, monospace;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 20px;
}

p {
  color: var(--cyan);
  font-family: JetBrains mono, sans-serif, monospace;
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  text-align: justify;
  margin: 20px 20px 20px 0;
  max-width: 100%;
}

li {
  color: var(--foreground);
  text-align: justify;
  font-size: 16px;
  line-height: 32px;
}

li:hover {
  color: var(--purple);
}

li:active {
  color: var(--cyan);
}