body {
  background-color: var(--black);
  text-align: center;
}

::selection {
  background: var(--cyan) !important;
  color: var(--black) !important;
  text-shadow: 0 0 0 var(--black);
}

.fa-brands,
.fa-solid {
  margin-right: 5px;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 6px;
  background-color: var(--black);
  margin-left: 8%;
}

@media screen and (max-width: 800px) {
  .about-container {
    flex-direction: column;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  margin-right: 4%;
}

@media screen and (max-width: 800px) {
  .list {
    flex-direction: column;
    width: 100%;
    margin-left: 6px;
    margin-right: 0;
  }
}

h1 {
  background-image: linear-gradient(135deg, var(--purple) 0%, var(--cyan) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
  background-size: 100%;
  font-size: 48px;
  letter-spacing: -3px;
  font-family: JetBrains mono, sans-serif, monospace;
  line-height: 50px;
  font-weight: bold;
  max-width: 100%;
  padding: 10px;
  margin-block-start: 100px;
}

@media screen and (max-width: 600px) {
  h1 {
    align-items: center;
    display: inline-block;
  }
}

h2 p {
  color: var(--foreground);
  font-family: JetBrains mono, sans-serif, monospace;
  font-size: 14px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 10px;
}

p {
  color: var(--cyan);
  font-family: JetBrains mono, sans-serif, monospace;
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  text-align: justify;
  margin-top: 8px;
  max-width: 100%;
}

li {
  color: var(--foreground);
  font-family: JetBrains mono, sans-serif, monospace;
  text-align: justify;

  text-decoration: underline;
  margin: 4px;
  font-size: 14px;
}

li:hover {
  color: var(--purple);
}

/* Donut javascript configurations */

.container {
  background-image: linear-gradient(135deg, var(--purple) 15%, var(--cyan) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  overflow: hidden;
  border-radius: 1em;
  margin-left: 30em;
  margin-right: 30em;
}

@media screen and (max-width: 800px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

.center {
  background-image: linear-gradient(135deg, var(--purple) 15%, var(--cyan) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.engineer {
  display: flex;
  justify-content: center;
  padding-bottom: 300px;
}

h3eng {
  color: var(--foreground);
  font-size: 14px;
  max-width: 96%;
  padding: 0;
  width: 500px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: var(--black);
  border-radius: 1em;
  border: 2px solid var(--comment-secondary);
  padding-bottom: 16px;
}

peng {
  margin: 1em;
}

peng p {
  display: flex;
  justify-content: center;
}