* {
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}

:root {
  --black: #22212C;
  --foreground: #F8F8F2;
  --selection: #414D58;
  --selection-secondary: #8f9ba8;
  --comment: #708CA9;
  --comment-secondary: #454158;
  --cyan: #80FFEA;
  --green: #8AFF80;
  --orange: #FFCA80;
  --yellow: #FFFF80;
  --red: #FF9580;
  --pink: #FF80BF;
  --purple: #9580FF;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
    background-color: var(--black);
}

::selection {
  background: var(--purple) !important;
  color: var(--black) !important;
  text-shadow: 0 0 0 var(--black);
}

strong {
  background-image: linear-gradient( 135deg, var(--purple) 10%, var(--pink) 20% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
  background-size: 100%;
  font-size: 2.5em;
  line-height: 50px;
  font-weight: bold;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  max-width: 100%;
  padding: 0;
  width: 1000px; 
  margin-left: auto;
  margin-right: auto; 
  margin-block-start: 100px;
  text-transform: uppercase;
}

span .label{
  margin: 0;
  background: var(--black);
  color: var(--foreground);
  display: grid;
  place-items: center;
  height: 100vh;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.dropdown {
  position: relative;
  justify-content: center;
  display: flex;
  margin-top: 10rem;
  margin-bottom: 30rem;
  margin-left: 50rem;
  margin-right: 50rem;
}

@media screen and (max-width: 600px) {
  .dropdown {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.label {
  cursor: pointer;
  background: var(--comment-secondary);
  padding: 0.8rem 1rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  transition: all 0.3s;
  border-radius: 10px;
  color: var(--foreground);
}

.items a {
  color: var(--foreground);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.2s;
  border-radius: 5px;
}

.items a:hover {
  border-left: 5px solid;
  background: var(--comment-secondary);
}

.fa-brands,
.fa-solid {
  margin-right: 5px;
}

.items {
  background: var(--selection);
  opacity: 0;
  visibility: hidden;
  min-width: 100%;
  height: 0;
  position: absolute;
  top: 48px;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.3s;
  border-radius: 10px;
}

.items::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--selection);
  transform: rotate(45deg);
  top: -7px;
  left: 20px;
  z-index: -1;
}

.dropdown:hover > .items {
  opacity: 1;
  visibility: visible;
  height: unset;
  transform: scaleY(1);
}

.dropdown:hover > .label {
  background: var(--purple);
  color: var(--selection);
}

/* Estilo dos botões de toda página */

button {
  background-color: var(--black);
  color: var(--selection-secondary);
  font-weight: bold;
  border: none;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  color: var(--foreground);
  background-color: var(--comment-secondary);
}

.button-up {
  display: flex;
}

.button-up button {
  text-transform: uppercase;
}

.button-down {
  content: "";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 32em;
}