* {
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}

:root {
  --black: #0B0D0F;
  --foreground: #F8F8F2;
  --selection: #414D58;
  --selection-secondary: #8f9ba8;
  --comment: #708CA9;
  --comment-secondary: #454158;
  --cyan: #80FFEA;
  --green: #8AFF80;
  --orange: #FFCA80;
  --yellow: #FFFF80;
  --red: #FF9580;
  --pink: #FF80BF;
  --purple: #9580FF;
}

/* Estilizando barras de rolagem no Chrome, Edge e Safari */
body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--black);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid var(--purple);
  /* creates padding around scroll thumb */
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: var(--black);
  text-align: center;
  /* border-image: linear-gradient(var(--purple), var(--pink)) 30;
  border-width: 2px;
  border-style: solid; */
  /* border-radius: 10px; */
  min-height: 100vh;
}

::selection {
  background: var(--purple) !important;
  color: var(--black) !important;
  text-shadow: 0 0 0 var(--black);
}

.expression {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 5px;
}

img {
  max-width: 6%;
  justify-content: center;
  /* align-items: center;
  margin-left: auto;
  margin-right: auto; */
  margin-top: 100px;
  margin-bottom: 10px;
  border-radius: 1em;
  border: 4px solid var(--pink);
}

@media screen and (max-width: 600px) {
  img {
    max-width: 20%;
  }
}

h1 {
  background-image: linear-gradient(135deg, var(--purple) 10%, var(--pink) 20%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow:  0.1em 0.1em 0.2em  var(--pink); */
  color: var(--foreground);
  background-size: 100%;
  font-size: 48px;
  font-family: JetBrains mono, sans-serif, monospace;
  line-height: 50px;
  font-weight: bold;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  max-width: 100%;
  padding: 0;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 100px;
}

span .label {
  margin: 0;
  background: var(--black);
  color: var(--foreground);
  display: grid;
  place-items: center;
  /* height: 100vh; */
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.dropdown {
  position: relative;
  font-size: 12px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40%;
  margin-right: 40%;
}

@media screen and (max-width: 600px) {
  .dropdown {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.label {
  cursor: pointer;
  background: var(--black);
  padding:  0.5rem;
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s;
  border-radius: 1em;
  color: var(--foreground);
  border: 2px solid var(--foreground);
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .label {
  padding: 10px;
  padding-right: 100px;
  }
}

.items a {
  color: var(--foreground);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.2s;
  border-radius: 1em;
  border: 2px solid var(--foreground);
  font-weight: bold;
}

.items a:hover {
  border-left: 5px solid;
  background: var(--comment-secondary);
}

.fa-brands,
.fa-solid {
  margin-right: 5px;
}

.items {
  background: var(--black);
  opacity: 0;
  visibility: hidden;
  min-width: 100%;
  height: 0;
  position: absolute;
  top: 48px;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.3s;
  border-radius: 30px;
}

.items::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--selection);
  transform: rotate(45deg);
  top: -7px;
  left: 20px;
  z-index: -1;
}

.dropdown {
  position: relative;
  font-size: 12px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40%;
  margin-right: 40%;
  padding-bottom: 30em;
}


.dropdown:hover>.items {
  opacity: 1;
  visibility: visible;
  height: unset;
  transform: scaleY(1);
}

.dropdown:hover>.label {
  background: var(--purple);
  color: var(--selection);
}

/* Efeito de Glitch do avatar da página */

@keyframes glitch {

  0%,
  55.1%,
  100% {
    background: url("/img/nagref.png");
    background-size: cover;
  }

  50% {
    background: url("/img/nagref-glich-1.png");
    background-size: cover;
  }

  52.5% {
    background: url("/img/nagref-glich-2.png");
    background-size: cover;
  }

  55% {
    background: url("/img/nagref-glich-3.png");
    background-size: cover;
  }
}

.avatar {
  width: 14rem;
  height: 14rem;

  border-radius:
    50% 50% 46% 54% / 51% 47% 53% 49%;

  background-image: url("/img/nagref.png");
  background-size: cover;

  animation:
    glitch 3.75s infinite steps(1);

  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo dos botões de toda página */

button {
  background-color: var(--black);
  color: var(--selection-secondary);
  font-weight: bold;
  border: none;
  justify-content: center;
  padding: 6px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 12px;
}

button:hover {
  color: var(--foreground);
  background-color: var(--comment-secondary);
}

nav {
  display: flex;
  flex-direction: row;
}

nav button {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  background-color: var(--black);
  border-radius: 0.5em;
  text-transform: uppercase;
  font-size: 15px;
  font-family: sans-serif, monospace;
}

@media screen and (max-width: 600px) {
  nav button {
    font-size: 15px;
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background-color: var(--black);
  margin-bottom: 1em;
  font-size: 10px;
}

/* @media screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} */
details {
  display: block;
  width: auto;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 10px;
  position: absolute;
}

details p {
  padding-left: 10px;
}

@media screen and (max-width: 600px) {
  details p {
    display: flex;
    flex-direction: row;
  }
}

summary {
  display: flex;
  background: var(--pink);
  background: radial-gradient(circle, var(--pink) 0%, var(--purple) 100%);
  color: var(--black);
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  font-family: sans-serif, monospace;
  justify-content: flex-start;
  align-items: center;
}

summary::-webkit-details-marker {
  display: none;
}

summary:before {
  content: "FL";
  font-size: 16px;
  font-weight: bold;
  margin: 0 5px;
  padding: 0;
  width: 20px;
  text-align: center;
}

details[open] summary:before {
  content: "";
}