* {
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}

:root {
  --black: #22212C;
  --foreground: #F8F8F2;
  --selection: #414D58;
  --selection-secondary: #8f9ba8;
  --comment: #708CA9;
  --comment-secondary: #454158;
  --cyan: #80FFEA;
  --green: #8AFF80;
  --orange: #FFCA80;
  --yellow: #FFFF80;
  --red: #FF9580;
  --pink: #FF80BF;
  --purple: #9580FF;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: var(--black);
}

::selection {
  background: var(--yellow)!important;
  color: var(--black)!important;
  text-shadow: 0 0 0 var(--black);
}

.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-block-end: 10em;
  align-items: center;
  justify-content: center;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (max-width: 600px) {
    .body {flex-direction: column;
} }

.avatar img {
  width: 25rem;
  height: 25rem;
  border-radius: 10%;
  border: 1px solid var(--black);
  margin-block-start: 4em;
  margin-block-end: 1em;
}

@media screen and (max-width: 600px){
  .avatar img {
    width: 20rem;
    height: 20rem;
    margin-block-start: 2em;
    margin-block-end: 1em;
  }
  
}

h1 {
  background-image: linear-gradient( 135deg, var(--yellow) 0%, var(--pink) 30% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
  background-size: 100%;
  font-size: 2.5em;
  line-height: 50px;
  font-weight: bold;
  max-width: 100%;
  padding: 0;
  width: 1000px; 
  margin-left: auto;
  margin-right: auto; 
  margin-block-start: 100px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    h1 {
      align-items: center;
      display: inline-block;
    }
} 
  

h3 {
  color: var(--foreground);
  font-size: 18px;
  margin-block-start: 3em;
  margin-block-end: 0.67em;
  margin-inline-start: 30px;
  margin-inline-end: 0px;
}

@media screen and (max-width: 600px) { 
    h3 {
      color: var(--foreground);
      font-size: 18px;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 10px;
      margin-inline-end: 0px;
} }
  


h3 strong {
  color: var(--yellow);
}

/* Estilo dos botões de toda página */

button {
  background-color: var(--black);
  color: var(--selection-secondary);
  font-weight: bold;
  border: none;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  color: var(--foreground);
  background-color: var(--comment-secondary);
}

.button-up {
  display: flex;
}

.button-up button {
  text-transform: uppercase;
}

.button-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20em;
  margin-right: 0.5em;
}