a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: #000;
}

.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

@keyframes glitch {

  0%,
  55.1%,
  100% {
    background: url("/Avatar/nagref.png");
    background-size: cover;
  }

  50% {
    background: url("/Avatar/nagref-glich-1.png");
    background-size: cover;
  }

  52.5% {
    background: url("/Avatar/nagref-glich-2.png");
    background-size: cover;
  }

  55% {
    background: url("/Avatar/nagref-glich-3.png");
    background-size: cover;
  }
}

.avatar {
  background: url("/Avatar/nagref.png");
  background-size: cover;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5rem;
  animation: glitch 3.75s infinite steps(1);
}

h1 {
  color: #fff;
  font-size: 2rem;
  margin: 100px;
  margin-left: 140px;
  max-width: 100%;
  padding: 0;
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}

h1 a {
  color: #9580FF;
}

h3 {
  color: #FFF;
  font-size: 1em;
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}
h2 {
  color: #FFF;
  font-size: 1em;
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}
h3 a {
  color: #80FFEA;
}

button {
  background-color: #0000;
  color: #8F9BA8;
  border: none;
  padding: 10px;
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  color: #FFF;
  background-color: #121314;
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}