* {
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}

:root {
  --black: #22212C;
  --foreground: #F8F8F2;
  --selection: #414D58;
  --selection-secondary: #8f9ba8;
  --comment: #708CA9;
  --comment-secondary: #454158;
  --cyan: #80FFEA;
  --green: #8AFF80;
  --orange: #FFCA80;
  --yellow: #FFFF80;
  --red: #FF9580;
  --pink: #FF80BF;
  --purple: #9580FF;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: var(--black);
}

::selection {
  background: var(--purple)!important;
  color: var(--black)!important;
  text-shadow: 0 0 0 var(--black);
}

.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: 0;
  margin-block-end: 1em;
  background-color: var(--black);
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .list {flex-direction: column;
} }

p {
  color: var(--cyan);
  font-size: 1rem;
  text-align: justify;
  margin-top: 50px;
  max-width: 100%;
  padding: 0;
}

h1 {
  background-image: linear-gradient( 135deg, var(--purple) 0%, var(--cyan) 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
  background-size: 100%;
  font-size: 2.5em;
  line-height: 50px;
  font-weight: bold;
  max-width: 100%;
  padding: 0;
  width: 1000px; 
  margin-left: auto;
  margin-right: auto; 
  margin-block-start: 100px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  h1 {
    align-items: center;
    display: inline-block;
  }
} 

h3 {
  color: var(--foreground);
  font-size: 18px;
  margin-block-start: 0;
  margin-block-end: 1em;
  max-width: 100%;
  padding: 0;
  width: 500px;
  margin-left: auto;
  margin-right: 50px;
}

h3 li {
  color: var(--foreground);
  text-align: justify;
  display: list-item;
  font-weight: bold;
  border-radius: 10px;
}

h3 li:hover {
  color: var(--purple);
  text-align: justify;
  display: list-item;
  font-weight: bold;
}

/* Estilo dos botões de toda página */

button {
  background-color: var(--black);
  color: var(--selection-secondary);
  font-weight: bold;
  border: none;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  color: var(--foreground);
  background-color: var(--comment-secondary);
}

.button-up {
  display: flex;
}

.button-up button {
  text-transform: uppercase;
}

.button-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20em;
  margin-right: 0.5em;
}