* {
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}

:root {
  --black: #0B0D0F;
  --foreground: #F8F8F2;
  --selection: #414D58;
  --selection-secondary: #8f9ba8;
  --comment: #708CA9;
  --comment-secondary: #22212C;
  --cyan: #80FFEA;
  --green: #8AFF80;
  --orange: #FFCA80;
  --yellow: #FFFF80;
  --red: #FF9580;
  --pink: #FF80BF;
  --purple: #9580FF;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: var(--black);
}

::selection {
  background: var(--pink);
  color: var(--selection);
}

.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}

p {
  color: var(--cyan);
  font-size: 1rem;
  text-align: justify;
  margin-top: 50px;
  max-width: 100%;
  padding: 0;
}

h1 {
  color: var(--foreground);
  font-size: 2rem;
  background-size: 100%;
  margin: 0 0 20px;
  margin-block-start: 3em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  max-width: 100%;
  padding: 0;
}

h1 a {
  color: var(--purple);
}

h3 {
  color: var(--foreground);
  font-size: 1rem;
  text-align: justify;
  margin-block-start: 0.67em;
  margin-block-end: 10em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  padding: 0;
  width: 100%;
  height: 100%;
}

h3 li {
  color: var(--foreground);
  font-size: 16px;
  text-align: justify;
  display: list-item;
  font-weight: bold;
  border-radius: 10px;
}

h3 li:hover {
  color: var(--purple);
  font-size: 16px;
  text-align: justify;
  display: list-item;
  font-weight: bold;
}

/* Estilo dos botões de toda página */

button {
  background-color: var(--black);
  color: var(--selection-secondary);
  font-weight: bold;
  border: none;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  color: var(--foreground);
  background-color: var(--comment-secondary);
}

.button-up {
  display: flex;
}

.button-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  border: none;
  margin: 0 auto;
  margin-right: 0.5em;
}