* {
  font-family: "JetBrains Mono Regular", "Lucida Console", "Courier New", monospace;
}

:root {
  --black: #0B0D0F;
  --foreground: #F8F8F2;
  --selection: #414D58;
  --selection-secondary: #8f9ba8;
  --comment: #708CA9;
  --comment-secondary: #454158;
  --cyan: #80FFEA;
  --green: #8AFF80;
  --orange: #FFCA80;
  --yellow: #FFFF80;
  --red: #FF9580;
  --pink: #FF80BF;
  --purple: #9580FF;
}

/* Estilizando barras de rolagem no Chrome, Edge e Safari */
body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--black);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--red);/* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid var(--red);  /* creates padding around scroll thumb */
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: var(--black);
  text-align: center;
  border: 4px solid var(--red);
  border-radius: 10px;
}

p {
  font-size: 16px;
}

::selection {
  background: var(--pink) !important;
  color: var(--black) !important;
  text-shadow: 0 0 0 var(--black);
}

.fa-brands,
.fa-solid {
  margin-right: 5px;
}

strong {
  background-image: linear-gradient(135deg, var(--red) 30%, var(--purple) 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
  background-size: 100%;
  font-size: 3em;
  line-height: 50px;
  font-weight: bold;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  max-width: 100%;
  padding: 0;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 100px;
  text-transform: uppercase;
}

::-moz-selection {
  background: var(--comment-secondary);
}

.container {
  /* background-image: linear-gradient(135deg, var(--red) 15%, var(--purple) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  overflow: hidden;
  border-radius: 30px;
  /* background-color: var(--comment-secondary); */
  border-color: var(--pink);
  border-width: medium;
  border-style: solid;
  margin-left: 30em;
  margin-right: 30em;
}

@media screen and (max-width: 800px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

.center {
  background-image: linear-gradient(135deg, var(--purple) 15%, var(--red) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 0.9em; */
  font-weight: bold;
}
.engineer{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

h3 {
  color: var(--foreground);
  font-size: 16px;
  /* margin-block-start: 5em; */
  /* margin-block-end: 0.5em; */
  max-width: 96%;
  padding: 0;
  width: 500px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: var(--comment-secondary);
  border-radius: 30px;
  border: 2px solid var(--foreground);
  /* width: 100%;
  height: 100%; */

}

p {
  margin: 1em;
}

/* Estilo dos botões de toda página */

button {
  background-color: var(--black);
  color: var(--selection-secondary);
  font-weight: bold;
  border: none;
  justify-content: center;
  padding: 6px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 12px;
}

button:hover {
  color: var(--foreground);
  background-color: var(--comment-secondary);
}

.button-up {
  display: flex;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: var(--black);
  border-radius: 0.5em;
}

.button-up button {
  text-transform: uppercase;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .button-up button {
    font-size: 16px;
  }
}

.button-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 10em;
  margin-bottom: 1em;
}

.button-down button {
  background-color: var(--black);
}

@media screen and (max-width: 600px) {
  .button-down{
    font-size: 0.5em;
    display:flex;
    flex-direction: column;
  }
}