* {
  font-family: "JetBrains Mono", "Lucida Console", "Courier New", monospace;
}

:root {
  --black: #0B0D0F;
  --foreground: #F8F8F2;
  --selection: #414D58;
  --selection-secondary: #8f9ba8;
  --comment: #708CA9;
  --comment-secondary: #454158;
  --cyan: #80FFEA;
  --green: #8AFF80;
  --orange: #FFCA80;
  --yellow: #FFFF80;
  --red: #FF9580;
  --pink: #FF80BF;
  --purple: #9580FF;
}

/* Estilizando barras de rolagem no Chrome, Edge e Safari */
body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--black);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--comment-secondary);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid var(--comment-secondary);
  /* creates padding around scroll thumb */
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: var(--black);
  text-align: center;
}

p {
  font-size: 12px;
}

::selection {
  background: var(--red) !important;
  color: var(--black) !important;
  text-shadow: 0 0 0 var(--black);
}

.fa-brands,
.fa-solid {
  margin-right: 5px;
}

h1 {
  background-image: linear-gradient(135deg, var(--red) 50%, var(--purple) 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--foreground);
  background-size: 100%;
  font-size: 48px;
  font-family: JetBrains mono, sans-serif, monospace;
  line-height: 50px;
  font-weight: bold;
  max-width: 100%;
  padding: 10px;
  margin-block-start: 100px;
}

::-moz-selection {
  background: var(--comment-secondary);
}

.container {
  background-image: linear-gradient(135deg, var(--red) 15%, var(--purple) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  overflow: hidden;
  border-radius: 1em;
  margin-left: 30em;
  margin-right: 30em;
}

@media screen and (max-width: 800px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

.center {
  background-image: linear-gradient(135deg, var(--purple) 15%, var(--red) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.engineer {
  display: flex;
  justify-content: center;
  padding-bottom: 300px;
}

h3 {
  color: var(--foreground);
  font-size: 12px;
  max-width: 96%;
  padding: 0;
  width: 500px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: var(--black);
  border-radius: 1em;
  border: 2px solid var(--comment-secondary);
}

p {
  margin: 1em;
}

/* Estilo dos botões de toda página */

button {
  background-color: var(--black);
  color: var(--selection-secondary);
  font-weight: bold;
  border: none;
  justify-content: center;
  padding: 6px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 12px;
}

button:hover {
  color: var(--foreground);
  background-color: var(--comment-secondary);
}

nav {
  display: flex;
  flex-direction: row;
}

nav button {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  background-color: var(--black);
  border-radius: 0.5em;
  text-transform: uppercase;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  nav button {
    font-size: 15px;
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background-color: var(--black);
  margin-bottom: 1em;
  font-size: 10px;
}

details {
  display: block;
  width: auto;
  text-transform: uppercase;
  font-size: 15px;
  font-family: sans-serif, monospace;
  font-weight: bold;
  margin: 10px 10px;
  position: absolute;
}

details p {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

summary {
  display: flex;
  background: var(--black);
  background: radial-gradient(circle, var(--black) 0%, var(--comment-secondary) 100%);
  color: var(--selection-secondary);
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  justify-content: flex-start;
  align-items: center;
}

summary::-webkit-details-marker {
  display: none;
}

summary:before {
  content: "FL";
  font-size: 16px;
  font-weight: bold;
  margin: 0 5px;
  padding: 0;
  width: 20px;
  text-align: center;
}

details[open] summary:before {
  content: "";
}